#contact:after {
             content: ' « Luciano Pereira B.B.S. »\00a0'
}
#contact:hover:after{
             content:' « Lµ¢iªn0 pӖЯӖ|₹Â B.B.S. »\00a0'
}
* {    
              margin: 0;
             padding: 0;
}
body {
              display: flex;
           flex-flow: column; 
              height: 100vh; 
     justify-content: space-around;
    background-color: #1B1B1B;
}
.overlay {
             display: block;
            position: absolute;
                 top: 0;
                left: 0;
               width: 100vw;
              height: 100vh;
    background-color: transparent;
     background-size: 5px 5px, 5px 5px;
 background-position: -1px -1px, -1px -1px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
      mix-blend-mode: difference;
}
.crt-bezel {
             display: inline-block;
            position: relative;
              margin: 0 auto;
          box-shadow: inset 0 0 1px 0.66667em #F5F5DC;
       border-radius: 1.33333em;
          background: #B5B59A;
            overflow: hidden;
           font-size: clamp(6px, 1.5vw, 20px);
         line-height: 1.33333;
}
.crt-bezel:before {
             content: "";
            position: absolute;
                 top: 0;
                left: 0;
               right: 0;
              bottom: 0;
             z-index: 2;
          background: linear-gradient(135deg, rgba(52, 52, 52, 0.5) 0%, rgba(252, 252, 252, 0.55) 19%, rgba(1, 1, 1, 0.64) 50%, rgba(100, 100, 100, 0.69) 69%, rgba(51, 51, 51, 0.73) 84%, rgba(22, 22, 22, 0.76) 93%, rgba(27, 27, 27, 0.78) 100%);
             opacity: 0.5;
}
.crt-bezel:after {
             content: "";
            position: absolute;
                 top: 0;
                left: 0;
               right: 0;
              bottom: 0;
             z-index: 1;
    background-color: #ddd;
             opacity: 0.1;
}
.crt {
            position: relative;
              margin: 1.66667em;
       border-radius: 1.33333em;
          box-shadow: 0 0 1px 3px rgba(10, 10, 10, 0.7);
          background: #141414;
            overflow: hidden;
             z-index: 3;
}
.crt:before {
  content: "";
 position: absolute;
      top: 0;
     left: 0;
   bottom: 0;
    right: 0;
box-shadow: inset 0 0 5px 5px rgba(255, 255, 255, 0.1);
border-radius: 1.33333em;
  z-index: -1;
}                        
.crt-scan-area {      
    width: 80ch;
max-width: 80ch;
   height: 31.99992em;
   margin: 2.66667em;
overflow-y: hidden;
white-space: pre-wrap;
font-family: monospace;
}
.crt-scan-area::before {
             content: " ";
             display: block;
            position: absolute;
                 top: 0;
                left: 0;
              bottom: 0;
               right: 0;
          background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.04), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.04));
             z-index: 2;
     background-size: 100% 2px, 3px 100%;
      pointer-events: none;
}
.glitch {
           clip-path: polygon(0 0, 100% 0, 100% 0.5em, 0 0.5em);
           animation: glitch 10s linear infinite;
           transform: translatex(0.1rem);
}
@keyframes glitch {
  to {
           clip-path: polygon(0 calc(100% - .5em), 100% calc(100% - .5em), 0 100%, 0 100%);
  }                   
}                                                   
.amber:before {         
          background: radial-gradient(ellipse at center, rgba(255, 176,   0, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
}

.green:before {
          background: radial-gradient(ellipse at center, rgba( 51, 255,  51, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
}

.white:before {
          background: radial-gradient(ellipse at center, rgba(204, 204, 238, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
}                     
.amber .crt-scan-area {
               color: #ffb000;
         text-shadow: 0 0 1px rgba(255, 176, 0, 0.8);
}
.green .crt-scan-area {
               color: #3f3;
         text-shadow: 0 0 1px rgba(51, 255, 51, 0.8);
}
.white .crt-scan-area {
               color: #cce;
         text-shadow: 0 0 1px rgba(204, 204, 238, 0.8);
}
.crt-scan-area em {
               color: #141414;
          font-style: normal;
         text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 1px;
}
.amber .crt-scan-area em {
    background-color: #ffb000;
}
.green .crt-scan-area em {
    background-color: #3f3;
}
.white .crt-scan-area em {
    background-color: #cce;
}
a:hover span{  color: #141414
}
a, a:visited {
          font-style: normal;
     text-decoration: none;
}
.amber a, .amber a:visited {
               color: #ffb000;   
}
.green a,.green a:visited {
               color: #3f3;   
}
.white a,.white a:visited {
               color: #cce;   
}
a:hover{
               color: #141414;
          font-style: normal;
         text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 1px;
}
.amber a:hover{
    background-color: #ffb000;
}
.green a:hover{
    background-color: #3f3;
}
.white a:hover{
    background-color: #cce;
}

.amber span {
               color: #996000;
}
.green span {
               color: #00b000;
}
.white span {
               color: #8080a0;
}

  
  /* From: https://anderse.wordpress.com/2014/04/18/css-and-javascript-retro-terminal-emulator-demo/ */
  /**
   * AnderShell - Just a small CSS demo
   *
   * Copyright (c) 2011-2013, Anders Evenrud <andersevenrud@gmail.com>
   * All rights reserved.
   * 
   * Redistribution and use in source and binary forms, with or without
   * modification, are permitted provided that the following conditions are met: 
   * 
   * 1. Redistributions of source code must retain the above copyright notice, this
   *    list of conditions and the following disclaimer. 
   * 2. Redistributions in binary form must reproduce the above copyright notice,
   *    this list of conditions and the following disclaimer in the documentation
   *    and/or other materials provided with the distribution. 
   * 
   * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
   * ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
   * WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
   * DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
   * ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
   * (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
   * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
   * ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
   * (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
   * SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
   */
  /* With simplifications and modifications by Robert Bottomley. */
  /*
  .crt:before {
    background: radial-gradient(ellipse at center, rgba(204, 204, 238, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    background: radial-gradient(ellipse at center, rgba( 51, 255,  51, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    background: radial-gradient(ellipse at center, rgba(255, 176,   0, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  }
  .crt-scan-area {
    color: #cce;
    color: #3f3;
    color: #ffb000;
  
    text-shadow: 0 0 1px rgba(204, 204, 238, 0.8);
    text-shadow: 0 0 1px rgba(51, 255, 51, 0.8);
    text-shadow: 0 0 1px rgba(255, 176, 0, 0.8);
  }
  .crt-scan-area em {
    color: #141414;
  
    background-color: #cce;
    background-color: #3f3;
    background-color: #ffb000;
    font-style: normal;
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 1px;
  }
  a,a:visited {
    font-style: normal;
    color: #ffb000;   
    text-decoration:none;
  }

  a:hover{
    color: #141414;
    background-color: #ffb000;
    font-style: normal;
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 1px;
  }
  */

  
  
  
  